.aboutus__container {
  display: flex;
  flex-direction: column;

  p {
    font-size: 1.2rem;
  }
  
  h1 {
    font-size: 2rem;
  }
  
}

.row {
  width: 100%;
  /* position: absolute; */
}
.slogan {
  display: grid;
  place-items: center;
  height: 100px;
}

.descriptions {
  padding: 1em;
}

