.flex-column {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;
  /* position: absolute; */
}
.slogan {
  display: grid;
  place-items: center;
  height: 100px;
}

.descriptions {
  padding: 1em;
}
